*{
      margin: 0;
      padding: 0;
}
.box {
         width: 100%;
         height: 4vh;
         background-image: linear-gradient(to right, #a13077 , #723DB6);
}
.box2 {
    margin-left: 15%;
    border-width: 0cm;
    border-radius: 20px;
    width: 70%;
    height: 100px;
    background-image: linear-gradient(to right, #a13077 , #723DB6);
}
.visa{
    font-size: 60px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;

    
}